/* Main Color scheme */
*::-webkit-scrollbar-thumb {
  background-color: #FAB005;
}
* {
  scrollbar-color: #FAB005 #fff;
}

.brand-logo {
background-image: url('../img/logo-main.png');
}
.pushdom {
color: #FAB005;
}
.big-icon {
color: #FAB005;
}
.citate blockquote p {
	background: #10223A;
	color: #fff;
}
.mb-style-3 blockquote p:before{
	color: #FAB005;
}
.mb-style-3 blockquote{
	box-shadow: 
		inset 0 2px 0 rgba(250, 176, 5, 0.7), 
		-5px -4px 25px rgba(0, 0, 0, 0.3);
}
.mb-style-3 blockquote p {
	color: rgba(16, 35, 60, 0.9);
}
#zen {
  fill: #FAB005;
}
.triangle_down {
  border-top: 30px solid #FAB005;
}
.sub-header-title {
  color:#10223A;
}
.sub-header-title:before{
  color:#FAB005;
}
.post-date .post-chislo {
  background-color: #FAB005;
}
.post-date .post-mesgod {
  background-color: #10223A;
}
.tooltip222 span {
  border: 4px solid #FAB005;
}
#stats-donate {
	background-color: #10223A;
}
h3.donate-color, h5.donate-color {
	color: #FAB005 !important;
}
.rwd-table tr:first-child {
  background: #10223A;
}
.rwd-table tr {
  background-color: #fdf3e2;
}
.rwd-table tr:nth-child(odd):not(:first-child) {
  background-color: #dee9f7;
}
@media screen and (min-width: 600px) {
  .rwd-table tr:hover:not(:first-child) {
    background-color: #FAB005;
  }
}
.age, .pets-panel-1 {color: #10223A;}
.name {color: #FAB005;}

.subheader-pets .flaticon-pet-hotel-sign-with-a-dog-and-a-cat-under-a-roof-line,
.subheader-pets .flaticon-pets-hotel-symbol-with-a-dog-and-a-cat-in-a-circle-with-one-star {
color: #10223A;
}

/* Yellow */
 .navbar-default .navbar-toggler:hover,.step:after,.number,.back-to-top:hover,.badges-hover a:hover .badge,.blog-tags a,.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a.active,.form-check-input:checked, .nav-tabs .nav-link,.btn-secondary:hover,.bg-primary, .blob-text,.blob-text2,.btn-primary:active,.btn-primary:not(:disabled):not(.disabled):active,.btn-primary.focus, .btn-primary:focus,.btn-default.focus, .btn-default:focus,.btn-primary,.btn-default, a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover, .list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover, .pagination>li>a:hover,.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover,.date-category, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .spinner > div,.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover,.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover, .bg-color1,.btn:before,.contact-icon .top-icon,.nav-pills>li>a:focus, .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover, .nav-pills>li>a:hover{
     background-color:#FAB005!important;
}
.sub-header:before,.sub-header-2:before,.thanks-name,.breadcrumb-item a,.btn-outline-secondary:active,.btn-outline-secondary:focus,.btn-outline-secondary:hover,.btn-outline-primary,.slick-prev:before, .slick-next:before,blockquote:before,.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover, .serviceBox:hover .service-icon i, a:hover,a:focus,.alert:after, .alert:before, .navbar-default .navbar-nav>li>a:focus,ul.custom li:before,.margin-icon,.text-secondary,.social-media i,.brand,.brand i{
     color:#FAB005!important;
}
.number,.lightbox img:hover,.btn-outline-secondary:active,.btn-outline-secondary:focus,.btn-outline-secondary:hover,.btn-outline-primary,.form-select,.form-select:focus,.form-check-input, .form-check-input:checked,.alert-primary,.price-table:hover .price-wrap,.underline-effect,.content-box.home, .form-control,.service-icon img,.contact-icon,.btn-default:hover{
     border-color:#FAB005!important;
}

/* light yellow */
#blog-sidebar .card-header,.feature-img,#elements h3.subheader,.table-striped>tbody>tr:nth-of-type(odd),.tab-content,.list-group-item,.alert-primary,.bg-light,.accordion-button.collapsed,.alert-info{
     background-color:#fdf3e2!important;
}

/* light blue */

.dropdown-item.active, .dropdown-item:active,.table-hover>tbody>tr:hover,.bg-info,.alert-secondary{
	background-color:#dee9f7!important;
}

/* Blue */
button.btn-primary,a.btn-primary,.number,.navbar-default .navbar-nav>li>a.active,.navbar-default .navbar-nav>li>a:hover,.post-info-single i,.social-media i:hover,.btn-outline-primary:active,.btn-outline-primary:focus,.btn-outline-primary:hover,
.alert-secondary:before,.alert-primary,.price-plan,.price-plan-month,.text-primary,h3,.table>thead>tr>th,.service-icon i, a,.alert-info,h1,h2,.testimonial .content:before {
     color:#10223A!important;
}
.back-to-top, .blog-card .post-info,.btn-info,.bg-secondary,.nav-pills .nav-link.active, .nav-pills .show>.nav-link,.nav-link.active:hover,.nav-tabs .nav-link.active,.nav-tabs .nav-link:hover,.nav-tabs .nav-link:focus,.nav-tabs .nav-link.active:hover,.accordion-button:hover,.accordion-button:not(.collapsed),.btn-secondary,.btn-default:hover, #sidebar,.btn-primary:hover{
     background-color:#10223A!important;
}
 .btn-outline-secondary,.btn-outline-primary:active,.btn-outline-primary:focus,.btn-outline-primary:hover,
.form-control:focus,.btn-primary.focus, .btn-primary:focus{
     border-color:#10223A!important;
}
 
/* Transparency */
 
.bg-overlay1,
.slideshow-image {
     box-shadow: inset 0 0 0 1000px rgb(16 34 58 / 63%);
}